# Python cache
__pycache__/
*.py[cod]

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual Environments
venv/
.venv/
env/

# Environment Variables
.env

# IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Python packaging
*.egg-info/
build/
dist/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/
